<header>
  <input type="checkbox" id="check" />
  <label for="check">
    <div id="container-header">
      <i class="material-icons" id="btn">menu</i>
      <a href="../Dashboard/Dashboard.html" class="home">HOME</a>
      <a href="#" class="aboutus">ABOUT US</a>
      <ul class="other">
        <li class="systems">
          <a
            href="#"
            style="
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 5px;
            "
          >
            OTHER SYSTEMS
            <i class="material-icons" style="font-size: 28px">expand_more</i>
          </a>
          <ul class="dropdown">
            <li>
              <a href="https://infotech.umm.ac.id/simponia/">SIMPONIA</a>
            </li>
            <li>
              <a href="https://infotech.umm.ac.id/sevenman/index.php/schedule"
                >SEVENMAN</a
              >
            </li>
            <li>
              <a href="https://infotech.umm.ac.id/simutu/">SIMUTU Lab</a>
            </li>
            <li>
              <a href="https://infotech.umm.ac.id/sirenta/">SIRENTA</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </label>
  <div class="sidebar">
    <div class="logo">
      <img src="../Assets/Images/labit.png" />
    </div>
    <ul>
      <li>
        <div>
          <a href="../PemrogramanDasar/MainContent.html">
            <i class="material-symbols-outlined">terminal</i> Pemrograman Dasar
          </a>
        </div>
      </li>
      <li>
        <div>
          <a href="#">
            <i class="material-symbols-outlined">terminal</i> Pemrograman Lanjut
          </a>
        </div>
      </li>
      <li>
        <div>
          <a href="#">
            <i class="material-symbols-outlined">terminal</i> Pemrograman OOP
          </a>
        </div>
      </li>
      <li>
        <div>
          <a href="#">
            <i class="material-symbols-outlined">terminal</i> Pemrograman Mobile
          </a>
        </div>
      </li>
      <li>
        <div>
          <a href="#">
            <i class="material-symbols-outlined">terminal</i> Pemrograman
            Website
          </a>
        </div>
      </li>
    </ul>
  </div>
</header>
