<%- include('components/header.ejs',{styleLink:'/css/Dashboard.css'});%>

<body>
  <%- include('components/navbar.ejs'); %>
  <div class="lesson-wrapper">
    <div class="container">
      <div class="heading"></div>
      <div class="lessons">
        <a href="/PemrogramanDasar" class="lesson">
          <div class="lesson-icon">
            <p>Pemrograman Dasar</p>
            <img src="../Assets/SVG/Icon_Belajar.svg" />
            <p class="txt-contents">
              Pembelajaran dasar mengenai semua pemahaman yang bersangukutan
              dengan pemrogramman.
            </p>
            <p class="modul-contents">6 Modul + 1 Final Exam</p>
          </div>
        </a>
        <a href="/PemrogramanLanjut" class="lesson">
          <div class="lesson-icon">
            <p>Pemrograman Lanjut</p>
            <img src="../Assets/SVG/Icon_Belajar.svg" />
            <p class="txt-contents">
              Pembelajaran dasar mengenai semua pemahaman yang bersangukutan
              dengan pemrogramman.
            </p>
            <p class="modul-contents">6 Modul + 1 Final Exam</p>
          </div>
        </a>
        <a href="#" class="lesson">
          <div class="lesson-icon">
            <p>Pemrograman OOP</p>
            <img src="../Assets/SVG/Icon_Belajar.svg" />
            <p class="txt-contents">
              Pembelajaran dasar mengenai semua pemahaman yang bersangukutan
              dengan pemrogramman.
            </p>
            <p class="modul-contents">6 Modul + 1 Final Exam</p>
          </div>
        </a>
        <a href="#" class="lesson">
          <div class="lesson-icon">
            <p>Pemrograman Mobile</p>
            <img src="../Assets/SVG/Icon_Belajar.svg" />
            <p class="txt-contents">
              Pembelajaran dasar mengenai semua pemahaman yang bersangukutan
              dengan pemrogramman.
            </p>
            <p class="modul-contents">6 Modul + 1 Final Exam</p>
          </div>
        </a>
        <a href="#" class="lesson">
          <div class="lesson-icon">
            <p>Pemrograman Website</p>
            <img src="../Assets/SVG/Icon_Belajar.svg" />
            <p class="txt-contents">
              Pembelajaran dasar mengenai semua pemahaman yang bersangukutan
              dengan pemrogramman.
            </p>
            <p class="modul-contents">6 Modul + 1 Final Exam</p>
          </div>
        </a>
        <a href="#" class="lesson">
          <div class="lesson-icon">
            <p>Basis Data</p>
            <img src="../Assets/SVG/Icon_Belajar.svg" />
            <p class="txt-contents">
              Pembelajaran dasar mengenai semua pemahaman yang bersangukutan
              dengan pemrogramman.
            </p>
            <p class="modul-contents">6 Modul + 1 Final Exam</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</body>

<%- include('components/footer.ejs'); %>
