<%- include('components/header.ejs', {styleLink: '/css/style.css'}); %>

<body>
  <%- include('components/navbar.ejs'); %>
  <div class="container">
    <div class="content-box">
      <div class="headerbox">
        <h2>Pemrograman Dasar Final Exam</h2>
      </div>

      <div class="contenttext">
        <h4>Ujian Final Quiz</h4>
        <h4>
          ................................................................................................................................................................................
        </h4>
        <a
          href="/questions/caution/"
          style="margin-left: 30px; margin-top: 30px; display: block"
          >Start</a
        >
      </div>
    </div>
  </div>
  <!-- <script src="js/scripts.js"></script> -->
</body>
<%- include('components/footer.ejs'); %>
