<%- include('components/header.ejs', {styleLink: '/css/PemrogramanDasar.css'}); %>

  <body>
    <%- include('components/navbar.ejs'); %>
    <div class="container">
        <div class="content-box">
            <ul id="accordion">
                <li>
                    <label for="first">Modul 1 - Struktur Dasar Pemrograman C <span class="material-icons" style="font-size: 28px;">expand_more</span></label>
                    <input type="checkbox" name="accordion" id="first" checked>
                    <div class="content">
                        <h4>Struktur Dasar Pemrograman C</h4>
                        <p>1. Flowchart
                           <br>Flowchart adalah representasi visual dari alur eksekusi atau algoritma dalam pemrograman. Flowchart menggunakan simbol-simbol geometris dan panah untuk menggambarkan langkah-langkah atau proses dalam program. Simbol-simbol ini mencakup kotak untuk menunjukkan langkah-langkah, panah untuk menunjukkan aliran kendali, berlian untuk menunjukkan keputusan, dan lainnya. Flowchart membantu dalam pemahaman visual dan pemodelan algoritma sebelum diimplementasikan dalam bahasa pemrograman.
                           <br><br>2. Variable
                           <br>Variable adalah suatu tempat dalam memori yang digunakan untuk menyimpan data atau nilai. Dalam Bahasa C, Anda perlu mendeklarasikan variabel sebelum menggunakannya dengan menentukan tipe data dan nama variabel. Variabel dapat digunakan untuk menyimpan berbagai jenis data seperti bilangan bulat, bilangan desimal, karakter, dan lainnya. Setelah deklarasi, Anda dapat menginisialisasi variabel dengan nilai awal dan mengakses nilainya di berbagai bagian program.
                           <br><br>3. Operator
                           <br>Operator adalah simbol atau tanda yang digunakan dalam pemrograman untuk melakukan operasi atau manipulasi terhadap variabel atau nilai. Dalam Bahasa C, terdapat berbagai jenis operator, seperti operator aritmatika untuk melakukan operasi matematika seperti penjumlahan, pengurangan, perkalian, dan pembagian. Operator relasional digunakan untuk membandingkan nilai antara dua variabel. Operator logika digunakan untuk menggabungkan kondisi atau ekspresi logika, seperti AND (&&), OR (||), dan NOT (!).
                           <br><br> Untuk penjelasan lebih detail dengan contoh codingannya, Kamu bisa menyimak vidio pembelajaran di bawah ini.
                           <br><br>
                        </p>
                        
                        <h3>Video Penjelasan: </h3>
                        <iframe width="560"
                                height="315"
                                src="https://www.youtube.com/embed/-v13GtjMGfc"
                                title="Modul 1 - Struktur Dasar Bahasa C"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                            <br/>
                            <a>Atau klik </a> <a href="https://youtu.be/-v13GtjMGfc">link</a> <a>ini.</a>
                        <br/>
                        <br/>
                    
                        <div class="quiz-box">
                            <h3>Quiz Section</h3>
                            <br />
                            <p>1. Dalam Bahasa C, operator yang digunakan untuk membandingkan kesetaraan nilai antara dua variabel adalah ?</p>
                            <button class="button" onclick="wronganswer1()">
                            A. >=
                            </button>
                            <button class="button" onclick="wronganswer1()">
                            B. =
                            </button>
                            <button class="button" onclick="rightanswer1()">
                            C. ==
                            </button>
                            <button class="button" onclick="wronganswer1()">
                            D. =<
                            </button>
                            <p id="hidden-text1" class="hidden-text1">Jawaban Anda benar!</p>
                            <p id="hidden-text2" class="hidden-text2">
                            Jawaban Anda salah. Jawaban yang benar adalah "C"
                            </p>
                            <br />
                        </div>
                    </div>    
            

                    <!-- <div class="quiz-box">
                        <h3>Quiz Section</h3>
                        <br />
                        <p>1. Soal Nomor 1 ?</p>
                        <button class="button" onclick="wronganswer1()">
                          A. Jawaban Salah
                        </button>
                        <button class="button" onclick="wronganswer1()">
                          B. Jawaban Salah
                        </button>
                        <button class="button" onclick="rightanswer1(this)">
                          C. Jawaban Benar
                        </button>
                        <button class="button" onclick="wronganswer1()">
                          D. Jawaban Salah
                        </button>

                        <p>2. Soal Nomor 2 ?</p>
                        <button class="button" onclick="wronganswer1()">
                        A. Jawaban Salah
                        </button>
                        <button class="button" onclick="rightanswer1(this)">
                            B. Jawaban Benar
                        </button>
                        <button class="button" onclick="wronganswer1()">
                            C. Jawaban Salah
                        </button>
                        <button class="button" onclick="wronganswer1()">
                            D. Jawaban Salah
                        </button>
                        <button class="button-submit" onclick="submitanswer(rightanswer1())">Submit
                            <p id="hidden-text1" class="hidden-text1">GRADE 100%</p>
                            <p id="hidden-text2" class="hidden-text2">GRADE 50%</p>    
                            <p id="hidden-text3" class="hidden-text3">GRADE 0%</p>    
                        </button>
                        <br />
                    </div> -->
                </li>
                <li>
                    <label for="second">Modul 2 - Fungsi Dasar <span class="material-icons" style="font-size: 28px;">expand_more</span></label>
                    <input type="checkbox" name="accordion" id="second" checked>
                    <div class="content" onclick="toggleDropdown(this)">
                        <h4>Fungsi Dasar</h4>
                        <p>Fungsi dalam Bahasa C adalah blok kode yang dapat dipanggil atau dieksekusi untuk melakukan tugas tertentu. Fungsi digunakan untuk mengorganisasi kode program menjadi bagian yang lebih kecil, memisahkan logika program, dan memudahkan pengelolaan dan pemeliharaan kode.
                           <br><br>Fungsi terdiri dari tiga komponen utama:
                           <br>1. Deklarasi Fungsi
                           <br>Deklarasi Fungsi Merupakan pengenalan atau pendefinisian fungsi dengan menentukan nama, tipe data kembalian (jika ada), dan parameter (jika ada).
                           <br><br>2. Definisi Fungsi
                           <br>Definisi Fungsi Merupakan implementasi atau isi dari fungsi, yaitu blok kode yang akan dieksekusi saat fungsi dipanggil. Ini termasuk deklarasi variabel lokal, pernyataan, operasi, dan logika yang akan dilakukan oleh fungsi.
                           <br><br>3. Pemanggilan Fungsi
                           <br>Pemanggilan Fungsi Merupakan penggunaan atau eksekusi fungsi dalam bagian program utama atau dalam fungsi lain. Pemanggilan fungsi dilakukan dengan menggunakan nama fungsi diikuti dengan tanda kurung dan argumen (jika ada) yang diperlukan oleh fungsi.
                           <br><br> Untuk penjelasan lebih detail dengan contoh codingannya, Kamu bisa menyimak vidio pembelajaran di bawah ini.
                           <br><br>
                        </p>
                        
                        <h3>Video Penjelasan: </h3>
                        <iframe width="560"
                                height="315"
                                src="https://www.youtube.com/embed/KVqwmy_gIPs"
                                title="Modul 2 - Fungsi Dasar"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                            <br/>
                            <a>Atau klik </a> <a href="https://youtu.be/KVqwmy_gIPs">link</a> <a>ini.</a>
                        <br/>
                        <br/>
                        
                        <div class="quiz-box">
                            <h3>Quiz Section</h3>
                            <br />
                            <p>1. Dalam Bahasa C, pernyataan return dalam sebuah fungsi digunakan untuk ?</p>
                            <button class="button" onclick="wronganswer2()">
                              A. Memanggil fungsi lain
                            </button>
                            <button class="button" onclick="wronganswer2()">
                              B. Melakukan pengulangan
                            </button>
                            <button class="button" onclick="rightanswer2(this)">
                              C. mengembalikan nilai fungsi
                            </button>
                            <button class="button" onclick="wronganswer2()">
                              D. Mendeklarasikan variabel
                            </button>
                            <p id="hidden-text3" class="hidden-text1">Jawaban Anda benar!</p>
                            <p id="hidden-text4" class="hidden-text2">
                              Jawaban Anda salah. Jawaban yang benar adalah "C"
                            </p>
                            <br />
                        </div>

                        <!-- <div class="quiz-box">
                            <h3>Quiz :</h3>
                            <h4>1. Soal quiz pertama!</h4>
                             <div class="inside-quiz-box">
                             <div class="button" onclick="changeColor(this)">A. Jawaban</div>
                             <div class="button" onclick="changeColor(this)">B. Jawaban</div>
                             <div class="button" onclick="changeColor(this)">C. Jawaban</div>
                             <div class="button" onclick="changeColor(this)">D. Jawaban</div>
                             </div>
                            <br/>
                            <h4>2. Soal quiz Kedua?</h4>
                             <div class="inside-quiz-box">
                             <div class="button" onclick="changeColor(this)">A. Jawaban</div>
                             <div class="button" onclick="changeColor(this)">B. Jawaban</div>
                             <div class="button" onclick="changeColor(this)">C. Jawaban</div>
                             <div class="button" onclick="changeColor(this)">D. Jawaban</div>
                             </div>
                            <br/>
                            <div class="button-submit">Submit</div>
                        </div> -->
                    </div>
                </li>
                <li>
                  <label for="third">Modul 3 - Struktur Kontrol <span class="material-icons" style="font-size: 28px;">expand_more</span></label>
                  <input type="checkbox" name="accordion" id="third" checked>
                  <div class="content" onclick="toggleDropdown(this)">
                        <h4>Struktur Kontrol</h4>
                        <p>1. Percabangan (Branching)
                           <br>Percabangan digunakan untuk mengatur alur eksekusi program berdasarkan kondisi tertentu. Dalam Bahasa C, terdapat tiga jenis pernyataan percabangan yang umum digunakan:
                           <br>a. If
                           <br>Pernyataan if digunakan untuk mengevaluasi kondisi dan melakukan tindakan berdasarkan hasil evaluasi kondisi tersebut. Jika kondisi terpenuhi (true), blok kode di dalam if akan dieksekusi, jika tidak (false), blok kode tersebut akan dilewati.
                           <br>b. If-else
                           <br>Pernyataan if-else memungkinkan program untuk melakukan tindakan yang berbeda tergantung pada evaluasi kondisi. Jika kondisi dalam if terpenuhi, blok kode di dalam if akan dieksekusi. Jika kondisi tidak terpenuhi, blok kode di dalam else akan dieksekusi.
                           <br>c. Switch-case
                           <br>Pernyataan switch-case digunakan untuk memilih tindakan yang akan diambil berdasarkan nilai dari ekspresi yang diberikan. Program akan mengevaluasi ekspresi dan mencocokkannya dengan beberapa nilai yang mungkin. Jika cocok, blok kode terkait akan dieksekusi.
                           <br><br>2. Perulangan (Loop)
                           <br>Perulangan digunakan untuk mengulang serangkaian pernyataan atau blok kode berulang kali. Dalam Bahasa C, terdapat tiga jenis pernyataan perulangan yang umum digunakan:
                           <br>a. While
                           <br>Pernyataan while akan mengulang blok kode selama kondisi yang ditentukan benar. Kondisi akan dievaluasi sebelum setiap iterasi perulangan. Jika kondisi benar, blok kode akan dieksekusi. Jika kondisi salah, eksekusi keluar dari perulangan.
                           <br>b. Do-while
                           <br>Pernyataan do-while mirip dengan pernyataan while, namun kondisi dievaluasi setelah setiap iterasi perulangan. Ini memastikan bahwa setidaknya satu iterasi akan dieksekusi sebelum kondisi dicek. Jika kondisi benar, perulangan akan berlanjut; jika tidak, eksekusi keluar dari perulangan.
                           <br>c. For
                           <br>Pernyataan for memberikan cara untuk mengulang serangkaian pernyataan dengan mengatur variabel kendali, kondisi perulangan, dan ekspresi peningkatan. Ini adalah bentuk perulangan yang lebih terstruktur dan terbatas.
                           <br><br> Untuk penjelasan lebih detail dengan contoh codingannya, Kamu bisa menyimak vidio pembelajaran di bawah ini.
                           <br><br>
                        </p>
                        
                        <h3>Video Penjelasan: </h3>
                        <iframe width="560"
                                height="315"
                                src="https://www.youtube.com/embed/g7XbbB-vM5k"
                                title="Modul 3 - Percabangan dan Perulangan"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                            <br/>
                            <a>Atau klik </a> <a href="https://youtu.be/g7XbbB-vM5k">link</a> <a>ini.</a>
                        <br/>
                        <br/>
                        
                        <div class="quiz-box">
                          <h3>Quiz Section</h3>
                          <br />
                          <p>1. Dalam Bahasa C, pernyataan perulangan yang akan mengulang blok kode selama kondisi yang ditentukan benar adalah ?</p>
                          <button class="button" onclick="wronganswer3()">
                            A. For
                          </button>
                          <button class="button" onclick="wronganswer3()">
                            B. If-else
                          </button>
                          <button class="button" onclick="rightanswer3(this)">
                            C. While
                          </button>
                          <button class="button" onclick="wronganswer3()">
                            D. Do-while
                          </button>
                          <p id="hidden-text5" class="hidden-text1">Jawaban Anda benar!</p>
                          <p id="hidden-text6" class="hidden-text2">
                            Jawaban Anda salah. Jawaban yang benar adalah "C"
                          </p>
                          <br />
                        </div>
                
                        <!-- <div class="quiz-box">
                            <h3>Quiz :</h3>
                            <h4>1. Soal quiz pertama!</h4>
                             <div class="inside-quiz-box">
                             <div class="button" onclick="changeColor(this)">A. Jawaban</div>
                             <div class="button" onclick="changeColor(this)">B. Jawaban</div>
                             <div class="button" onclick="changeColor(this)">C. Jawaban</div>
                             <div class="button" onclick="changeColor(this)">D. Jawaban</div>
                             </div>
                            <br/>
                            <h4>2. Soal quiz Kedua?</h4>
                             <div class="inside-quiz-box">
                             <div class="button" onclick="changeColor(this)">A. Jawaban</div>
                             <div class="button" onclick="changeColor(this)">B. Jawaban</div>
                             <div class="button" onclick="changeColor(this)">C. Jawaban</div>
                             <div class="button" onclick="changeColor(this)">D. Jawaban</div>
                             </div>
                            <br/>
                            <div class="button-submit">Submit</div>
                        </div> -->
                    </div>
                </li>
                <li>
                    <label for="four">Modul 4 - Array <span class="material-icons" style="font-size: 28px;">expand_more</span></label>
                    <input type="checkbox" name="accordion" id="four" checked>
                    <div class="content" onclick="toggleDropdown(this)">
                        <h4>Array</h4>
                        <p>Array adalah struktur data yang digunakan untuk menyimpan sekumpulan nilai dengan tipe data yang sama. Array memungkinkan kita untuk menyimpan beberapa nilai dalam satu variabel dan mengaksesnya menggunakan indeks. Setiap elemen dalam array memiliki posisi yang disebut indeks, yang dimulai dari 0 untuk elemen pertama, 1 untuk elemen kedua, dan seterusnya.
                           <br><br>Dalam Bahasa C, array dideklarasikan dengan menentukan tipe data elemen array dan ukuran arraynya. Format umum untuk mendeklarasikan array adalah: 'tipe_data nama_array[ukuran];'. Setelah dideklarasikan, elemen-elemen dalam array dapat diakses dan dimanipulasi dengan menggunakan indeks.
                           <br><br> Untuk penjelasan lebih detail dengan contoh codingannya, Kamu bisa menyimak vidio pembelajaran di bawah ini.
                           <br><br>
                        </p>
                        
                        <h3>Video Penjelasan: </h3>
                        <iframe width="560"
                                height="315"
                                src="https://www.youtube.com/embed/cdZRmF51qNI"
                                title="Modul 4 - Array C"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                            <br/>
                            <a>Atau klik </a> <a href="https://youtu.be/cdZRmF51qNI">link</a> <a>ini.</a>
                        <br/>
                        <br/>
                        
                        <div class="quiz-box">
                            <h3>Quiz Section</h3>
                            <br />
                            <p>1. Dalam Bahasa C, format umum untuk mendeklarasikan array adalah ?</p>
                            <button class="button" onclick="wronganswer4()">
                              A. tipe_data[ukuran] nama_array;
                            </button>
                            <button class="button" onclick="wronganswer4()">
                              B. nama_array[ukuran] tipe_data;
                            </button>
                            <button class="button" onclick="rightanswer4(this)">
                              C. tipe_data nama_array[ukuran];
                            </button>
                            <button class="button" onclick="wronganswer4()">
                              D. nama_array tipe_data[ukuran];
                            </button>
                            <p id="hidden-text7" class="hidden-text1">Jawaban Anda benar!</p>
                            <p id="hidden-text8" class="hidden-text2">
                              Jawaban Anda salah. Jawaban yang benar adalah "C"
                            </p>
                            <br />
                          </div>

                        <!-- <div class="quiz-box">
                            <h3>Quiz :</h3>
                            <h4>1. Soal quiz pertama!</h4>
                             <div class="inside-quiz-box">
                             <div class="button" onclick="changeColor(this)">A. Jawaban</div>
                             <div class="button" onclick="changeColor(this)">B. Jawaban</div>
                             <div class="button" onclick="changeColor(this)">C. Jawaban</div>
                             <div class="button" onclick="changeColor(this)">D. Jawaban</div>
                             </div>
                            <br/>
                            <h4>2. Soal quiz Kedua?</h4>
                             <div class="inside-quiz-box">
                             <div class="button" onclick="changeColor(this)">A. Jawaban</div>
                             <div class="button" onclick="changeColor(this)">B. Jawaban</div>
                             <div class="button" onclick="changeColor(this)">C. Jawaban</div>
                             <div class="button" onclick="changeColor(this)">D. Jawaban</div>
                             </div>
                            <br/>
                            <div class="button-submit">Submit</div>
                        </div> -->
                    </div>
                </li>
                <li>
                    <label for="five">Modul 5 - String <span class="material-icons" style="font-size: 28px;">expand_more</span></label>
                    <input type="checkbox" name="accordion" id="five" checked>
                    <div class="content" onclick="toggleDropdown(this)">
                        <h4>String</h4>
                        <p>String adalah kumpulan karakter yang membentuk suatu teks atau urutan karakter. Dalam Bahasa C, String dideklarasikan sebagai array karakter dengan karakter nul ('\0') diakhir sebagai penanda akhir string. String di C juga dapat diperlakukan sebagai tipe data primitif, dan terdapat beberapa fungsi bawaan yang dapat digunakan untuk memanipulasi string.
                           <br><br>Untuk mendeklarasikan dan menginisialisasi string dalam Bahasa C, dapat menggunakan tipe data char dengan tanda petik ganda ("") untuk mengapit karakter-karakter dalam string. Misalnya: 'char nama[] = "John Doe";'. String juga dapat diakses menggunakan indeks, dan karakter individual dalam string dapat dimanipulasi seperti array.
                           <br><br> Untuk penjelasan lebih detail dengan contoh codingannya, Kamu bisa menyimak vidio pembelajaran di bawah ini.
                           <br><br>
                        </p>

                        <h3>Video Penjelasan: </h3>
                        <iframe width="560"
                                height="315"
                                src="https://www.youtube.com/embed/XcDSskat_U8"
                                title="Modul 5 - String"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen>
                        </iframe>
                        <br/>
                            <a>Atau klik </a> <a href="https://youtu.be/XcDSskat_U8">link</a> <a>ini.</a>
                        <br/>
                        <br/>
                        
                        <div class="quiz-box">
                            <h3>Quiz Section</h3>
                            <br />
                            <p>1. Dalam Bahasa C, string diakhiri dengan karakter khusus yang disebut ?</p>
                            <button class="button" onclick="wronganswer5()">
                              A. Spasi (' ')
                            </button>
                            <button class="button" onclick="wronganswer5()">
                              B. Karakter '#' (hash)
                            </button>
                            <button class="button" onclick="rightanswer5(this)">
                              C. Nul karakter ('\0')
                            </button>
                            <button class="button" onclick="wronganswer5()">
                              D. Karakter titik ('.')
                            </button>
                            <p id="hidden-text9" class="hidden-text1">Jawaban Anda benar!</p>
                            <p id="hidden-text10" class="hidden-text2">
                              Jawaban Anda salah. Jawaban yang benar adalah "C"
                            </p>
                            <br />
                          </div>

                        <!-- <div class="quiz-box">
                            <h3>Quiz :</h3>
                            <h4>1. Soal quiz pertama!</h4>
                             <div class="inside-quiz-box">
                             <div class="button" onclick="changeColor(this)">A. Jawaban</div>
                             <div class="button" onclick="changeColor(this)">B. Jawaban</div>
                             <div class="button" onclick="changeColor(this)">C. Jawaban</div>
                             <div class="button" onclick="changeColor(this)">D. Jawaban</div>
                             </div>
                            <br/>
                            <h4>2. Soal quiz Kedua?</h4>
                             <div class="inside-quiz-box">
                             <div class="button" onclick="changeColor(this)">A. Jawaban</div>
                             <div class="button" onclick="changeColor(this)">B. Jawaban</div>
                             <div class="button" onclick="changeColor(this)">C. Jawaban</div>
                             <div class="button" onclick="changeColor(this)">D. Jawaban</div>
                             </div>
                            <br/>
                            <div class="button-submit">Submit</div>
                        </div> -->
                    </div>
                </li>
                <li>
                    <label for="six">Modul 6 - Operasi File <span class="material-icons" style="font-size: 28px;">expand_more</span></label>
                    <input type="checkbox" name="accordion" id="six" checked>
                    <div class="content" onclick="toggleDropdown(this)">
                        <h4>Operasi File</h4>
                        <p>Operasi File dalam Bahasa C memungkinkan kita untuk membaca data dari file eksternal atau menulis data ke dalam file eksternal. Beberapa operasi dasar yang umum digunakan dalam operasi file adalah:
                           <br><br>1. Membuka File
                           <br>Untuk membaca atau menulis ke file, kita perlu membuka file terlebih dahulu menggunakan fungsi fopen(). Fungsi ini menerima dua parameter: nama file dan mode operasi (misalnya "r" untuk membaca, "w" untuk menulis).
                           <br><br>2. Membaca dan Menulis File
                           <br>Setelah file dibuka, kita dapat menggunakan fungsi-fungsi seperti fscanf(), fgets(), fgetc() untuk membaca data dari file. Untuk menulis data ke file, kita dapat menggunakan fungsi-fungsi seperti fprintf(), fputs(), fputc(). Data yang dibaca atau ditulis dapat disimpan dalam variabel atau ditampilkan langsung.
                           <br><br>3. Menutup File
                           <br>Setelah selesai membaca atau menulis file, penting untuk menutup file dengan menggunakan fungsi fclose(). Ini membebaskan sumber daya yang digunakan oleh file dan memastikan bahwa perubahan yang dilakukan pada file tersimpan.
                           <br><br>Penting untuk memeriksa apakah file berhasil dibuka atau ditutup dengan memeriksa nilai kembalian fungsi-fungsi tersebut, karena operasi file dapat gagal dalam beberapa situasi (misalnya file tidak ditemukan, izin akses, dll).
                           <br><br> Untuk penjelasan lebih detail dengan contoh codingannya, Kamu bisa menyimak vidio pembelajaran di bawah ini.
                           <br><br>
                        </p>
                        
                        <h3>Video Penjelasan: </h3>
                        <iframe width="560"
                                height="315"
                                src="https://www.youtube.com/embed/uY1MpMYKCbo"
                                title="Modul 6 - Operasi File"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                            <br/>
                            <a>Atau klik </a> <a href="https://youtu.be/uY1MpMYKCbo">link</a> <a>ini.</a>
                        <br/>
                        <br/>
                        
                        <div class="quiz-box">
                            <h3>Quiz Section</h3>
                            <br />
                            <p>1. Operasi yang dilakukan untuk membuka file dalam Bahasa C menggunakan fungsi ?</p>
                            <button class="button" onclick="wronganswer6()">
                              A. scanf()
                            </button>
                            <button class="button" onclick="wronganswer6()">
                              B. openf()
                            </button>
                            <button class="button" onclick="rightanswer6(this)">
                              C. fopen()
                            </button>
                            <button class="button" onclick="wronganswer6()">
                              D. fscan()
                            </button>
                            <p id="hidden-text11" class="hidden-text1">Jawaban Anda benar!</p>
                            <p id="hidden-text12" class="hidden-text2">
                              Jawaban Anda salah. Jawaban yang benar adalah "C"
                            </p>
                            <br />
                          </div>

                        <!-- <div class="quiz-box">
                            <h3>Quiz :</h3>
                            <h4>1. Soal quiz pertama!</h4>
                             <div class="inside-quiz-box">
                             <div class="button" onclick="changeColor(this)">A. Jawaban</div>
                             <div class="button" onclick="changeColor(this)">B. Jawaban</div>
                             <div class="button" onclick="changeColor(this)">C. Jawaban</div>
                             <div class="button" onclick="changeColor(this)">D. Jawaban</div>
                             </div>
                            <br/>
                            <h4>2. Soal quiz Kedua?</h4>
                             <div class="inside-quiz-box">
                             <div class="button" onclick="changeColor(this)">A. Jawaban</div>
                             <div class="button" onclick="changeColor(this)">B. Jawaban</div>
                             <div class="button" onclick="changeColor(this)">C. Jawaban</div>
                             <div class="button" onclick="changeColor(this)">D. Jawaban</div>
                             </div>
                            <br/>
                            <div class="button-submit">Submit</div>
                        </div> -->
                    </div>
                </li>
                <li>
                  <label for="seven">Final Quiz <span class="material-icons" style="font-size: 28px;">expand_more</span></label>
                    <input type="checkbox" name="accordion" id="seven" checked>
                    <div class="content" onclick="toggleDropdown(this)">
                    <a href="/FinalExam"> <span class="material-symbols-outlined"> task </span> Final Exam</a>
                    <br/>
                </li>
            </ul>
        </div>
        <script>

            function rightanswer1() {
                var hiddenText1 = document.getElementById("hidden-text1");
                var hiddenText2 = document.getElementById("hidden-text2");
      
                if ((hiddenText1.style.display = "none")) {
                  hiddenText1.style.display = "block";
                  hiddenText2.style.display = "none";
                }
              }

            function wronganswer1() {
                var hiddenText1 = document.getElementById("hidden-text1");
                var hiddenText2 = document.getElementById("hidden-text2");
                if ((hiddenText2.style.display = "none")) {
                  hiddenText2.style.display = "block";
                  hiddenText1.style.display = "none";
                }
              }
      
              function rightanswer2() {
                var hiddenText3 = document.getElementById("hidden-text3");
                var hiddenText4 = document.getElementById("hidden-text4");
      
                if ((hiddenText3.style.display = "none")) {
                  hiddenText3.style.display = "block";
                  hiddenText4.style.display = "none";
                }
              }
      
              function wronganswer2() {
                var hiddenText3 = document.getElementById("hidden-text3");
                var hiddenText4 = document.getElementById("hidden-text4");
                if ((hiddenText4.style.display = "none")) {
                  hiddenText4.style.display = "block";
                  hiddenText3.style.display = "none";
                }
              }
      
              function rightanswer3() {
                var hiddenText5 = document.getElementById("hidden-text5");
                var hiddenText6 = document.getElementById("hidden-text6");
      
                if ((hiddenText5.style.display = "none")) {
                  hiddenText5.style.display = "block";
                  hiddenText6.style.display = "none";
                }
              }
      
              function wronganswer3() {
                var hiddenText5 = document.getElementById("hidden-text5");
                var hiddenText6 = document.getElementById("hidden-text6");
                if ((hiddenText6.style.display = "none")) {
                  hiddenText6.style.display = "block";
                  hiddenText5.style.display = "none";
                }
              }
      
              function rightanswer4() {
                var hiddenText7 = document.getElementById("hidden-text7");
                var hiddenText8 = document.getElementById("hidden-text8");
      
                if ((hiddenText7.style.display = "none")) {
                  hiddenText7.style.display = "block";
                  hiddenText8.style.display = "none";
                }
              }
      
              function wronganswer4() {
                var hiddenText7 = document.getElementById("hidden-text7");
                var hiddenText8 = document.getElementById("hidden-text8");
                if ((hiddenText8.style.display = "none")) {
                  hiddenText8.style.display = "block";
                  hiddenText7.style.display = "none";
                }
              }
      
              function rightanswer5() {
                var hiddenText9 = document.getElementById("hidden-text9");
                var hiddenText10 = document.getElementById("hidden-text10");
      
                if ((hiddenText9.style.display = "none")) {
                  hiddenText9.style.display = "block";
                  hiddenText10.style.display = "none";
                }
              }
      
              function wronganswer5() {
                var hiddenText9 = document.getElementById("hidden-text9");
                var hiddenText10 = document.getElementById("hidden-text10");
                if ((hiddenText10.style.display = "none")) {
                  hiddenText10.style.display = "block";
                  hiddenText9.style.display = "none";
                }
              }
      
              function rightanswer6() {
                var hiddenText11 = document.getElementById("hidden-text11");
                var hiddenText12 = document.getElementById("hidden-text12");
      
                if ((hiddenText11.style.display = "none")) {
                  hiddenText11.style.display = "block";
                  hiddenText12.style.display = "none";
                }
              }
      
              function wronganswer6() {
                var hiddenText11 = document.getElementById("hidden-text11");
                var hiddenText12 = document.getElementById("hidden-text12");
                if ((hiddenText12.style.display = "none")) {
                  hiddenText12.style.display = "block";
                  hiddenText11.style.display = "none";
                }
              }

            /* var value =  0
            function rightanswer1() {
                return value+=50;
            }
            
            function wronganswer1() {
                return value-=50;
            }
            
            function submitanswer(nilai){
                var hiddenText1 = document.getElementById("hidden-text1");
                var hiddenText2 = document.getElementById("hidden-text2");
                var hiddenText3 = document.getElementById("hidden-text3");
                if (value == 100) {
                    hiddenText1.style.display = "block";
                    hiddenText2.style.display = "none";
                    hiddenText3.style.display = "none";
                }else if(value == 50){
                    hiddenText2.style.display = "block";
                    hiddenText1.style.display = "none";
                    hiddenText3.style.display = "none";
                }else if(value <= 0){
                    hiddenText3.style.display = "block";
                    hiddenText1.style.display = "none";
                    hiddenText2.style.display = "none";
                }
            } */
        </script>
        
    </div>
</body>

<%- include('components/footer.ejs'); %>