*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body{
    background-color: #CAE9FF;
}

.sidebar{
    position: fixed;
    height: 100%;
    width: 20%;
    background-color: #023B70;
}
.timer_box{
    position: sticky;
    width: 80%;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    border-radius: 10px;
    color: #FFFFFE;
    background-color: #0E5699;
}
.sidebar .timer_box h1{
    padding-bottom: 5px;
    font-weight: normal;
}
.sidebar .timer_box h3{
    font-size: 52px;
    font-weight: 500;
}

.navigation_box{
    width: 80%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    border-radius: 10px;
    color: #FFFFFE;
    background-color: #0E5699;
}
.sidebar .navigation_box h2{
    font-weight: normal;
    padding-bottom: 5px;
}
.sidebar .navigation_box .list_questions{
    display: flex;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}
.sidebar .navigation_box .list_questions #question{
    width: 13%;
    cursor: pointer;
    color: black;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    background-color: #FFFFFE;
}
.sidebar .navigation_box .list_questions #question p{
    font-size: 16px;
}
.sidebar .navigation_box .list_questions #question #validation{
    width: 100%;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    background-color: gray;
}

/* Main Content or Question of exam */
.container{
    border-radius: 10px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    /* background-color: #FFFFFE; */
    padding: 0px 0px 0px 0px; /*Mengatur padding dalam box konten*/
}

.finish_box{
    position: fixed;
    margin-top: 200px;
    margin-left: 340px;
    margin-right: 25px;
    /* margin-right: auto; */
    display: block;
    width: 75%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 600px rgba(0, 0, 0, 0.5);
    background-color: #023B70;
}
.finish_box h1{
    padding-top: 20px;
    padding-left: 20px;
    border-width: 2px;
    border-bottom-style: solid ;
    border-color: lightgray;
}
.finish_box p{
    font-size: 18px;
    padding-left: 20px;
    padding-top: 10px;
}
.finish_box .finish_box_footer{
    width: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.content_box{
    width: 75%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: 25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    background-color: #FFFFFE;
}
.container .content_box h1{
    padding-left: 20px;
    padding-top: 20px;
    
}
.container .content_box h3{
    margin-left: 20px;
    margin-right: 40px;
    border-bottom-style: solid ;
    border-color: lightgrey;
    border-width: 2px;
    font-weight: normal;
}

.container .content_box .content_question{
    margin-top: 20px;
    width: 100%;   
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: lightgray;
    background-color: #FFFFFE;
}

.container .content_box .content_question .question_container{
    display: flex;
    align-items: start;
    width: 100%;
}

.container .content_box .content_question .question_container h2{
    padding-top: 20px;
}

.container .content_box .content_question .question_container #question_number{
    padding-left: 20px;
}
.container .content_box .content_question .question_container #question_text{
    padding-left: 20px;
}

.container .content_box .content_question ul{
    padding-left: 20px;
    padding-top: 20px;
}
.container .content_box .content_question ul li{
    padding-bottom: 20px;
}
.container .content_box .content_question .footer_question{
    width: 100%;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    /* background-color: #0E5699; */
}
.container .content_box .content_question .footer_question #prev_btn{
    margin-right: auto;
    margin-left: 20px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    padding: 15px 30px;
    display:block;
    outline: none;  
    border: none;
    border-radius: 7px;
    background-color: #023B70;
    cursor: pointer;
}
.container .content_box .content_question .footer_question #next_btn{
    margin-left: auto;
    margin-right: 20px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    padding: 15px 30px;
    display:block;
    outline: none;  
    border: none;
    border-radius: 7px;
    background-color: #023B70;
    cursor: pointer;
}
.container .content_box .content_question ul li label{
    cursor: pointer;
}